<fieldset>
  <section class="solidbody">

<legend> <%= set_subheader("Work Interests") %> </legend><br>

  <%=  link_to next_wizard_path,class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Submit
  <% end %>
  <%= link_to previous_wizard_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
 </section>
</fieldset>
