<div class="page-header">
  <%= link_to career_plan_outcomes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Activity</h1>
</div>

<%= render 'form' %>
