<fieldset>
  <section class="solidbody">

<legend> <%= set_subheader("Activities") %> </legend><br>

<%= render 'job_search_index' %>
<%= render 'work_experience_index' %>
<%= render 'education_planner_index' %>

 </section>
</fieldset>

