
		<legend> <%= set_subheader("New Student") %> </legend>
<div class="page-header">
  <%= link_to clients_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  
</div>
<fieldset>
	<section class="solidbody">
<%= render 'form' %>
</fieldset>
	</section>