<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Job Search</h4>
    <p class="card-text">Perform Job Search Activities</p>
  </div>
   <div class="card-block">
    <a href= "/work_search_blogs" class="card-link">Plan Job Search Activity</a>
    </div>
</div>
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Work Experience</h4>
    <p class="card-text">Perform Work Experience Activities</p>
  </div>
   <div class="card-block">
    <a href= "/work_site_planners" class="card-link">Plan Work Experience Activity</a>
    </div>
</div>
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">On The Job Training</h4>
    <p class="card-text">Perform On The Job Training Activities</p>
  </div>
   <div class="card-block">
    <a href= "/work_site_planners" class="card-link">Plan On The Job Training Activity</a>
    </div>
</div>
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Vocational Education</h4>
    <p class="card-text">Perform Vocational Education Activities</p>
  </div>
   <div class="card-block">
    <a href= "/education_planners" class="card-link">Plan Vocational Education Activity</a>
    </div>
</div>

<div class='calendar'></div>