<div class="page-header">
  <%= link_to work_site_planners_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New work_site_planner</h1>
</div>

<%= render 'form' %>
