<fieldset>
  <section class="solidbody">

<legend> <%= set_subheader("New Document") %> </legend><br>


<%= render 'form' %>
<!-- <div class="page-header">
  <%#= link_to documents_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <%# end %> -->

<!-- </div> -->
</section>
</fieldset>
