/*Regular colors*/

$white-color: #FFFFFF;
$black-color: #000000;


/*Top navigation related colors*/
$top-nav-bg-color: #2E8ACA;


/*Side navigation related colors*/
$side-sub-nav-bg-color: #2E8ACA;


/*Form errors related colors*/
$error-background-color: #FFC;
$error-heading-text-color: #DC3D3D;
$error-label-text-color: #DC3D3D;
$error-input-background-color: #FFC;



/*Footer colors*/
$footer-border-color: #005EA5;


/*Fieldset colors*/
$secondary-background-color: #237CBE;
$required-field-background-color: #FFC;
$star-red-color:#DC3D3D;



/*Checkbox colors*/
$checkbox-field-background-color: #FFC;


/*Hyperlink colors*/
$hyperlink-color:#005EA5;
$hyperlink-hover-color:#2E8ACA;


/*Footer colors*/
$footer-hyperlink-color:#454A4C;
$footer-hyperlink-hover-color:#171819;

/*Information colors*/
$information-panel-bg-color: #FFC;
$information-icon-color: #2E8ACA;

$focus-border-color: #FFBF47;
$blur-border-color: #ddd;

$table-cell-result-pass: #01CC00;
$table-cell-result-fail: #FF3228;
$table-cell-result-warning: #FF9900;



