<fieldset class="item">

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :short_description %>
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :long_description %>
    <%= f.text_field :long_description %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :usage %>
    <%= f.text_field :usage %>
  </div>
 </fieldset>
