<h1>Edit Master Domain</h1>

<%= render 'form' %>


<div class="page-header">
  <%= link_to master_domains_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @master_domain , class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Show
  <% end %>

</div>