<nav class="navbar navbar-inverse " >
  <div class="container-fluid ">
    <div class="navbar-header"  class="col-xs-12 col-md-8 ARWINS_header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Caddy', root_path, class: 'navbar-brand' %>
      </div>
     <!--  <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left"> -->
           
          <%= render 'layouts/navigation_links' %>
         
  <!--       </ul>
   </div>
 -->
   

  </div>
</nav>
